<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmation de réclamation</title>
</head>
<body>
<h1>Confirmation de réclamation</h1>
<p>Bonjour {{ reclamation.user.citoyen.nom }} {{ reclamation.user.citoyen.prenom }},</p>

<p>Votre réclamation a été traitée avec succès.</p>
<p>Numéro de réclamation : {{ reclamation.id }}</p>
<p>Statut : {{ reclamation.statut }}</p>
<p>Date de création : {{ reclamation.date|date("d/m/Y H:i:s") }}</p>
<p>Titre : {{ reclamation.titre }}</p>
<p>Priorité : {{ reclamation.priorite }}</p>
<p>Description : {{ reclamation.description }}</p>

<p>Merci de nous avoir contactés!</p>

<p>Cordialement,<br>
</body>
</html>
