{% extends "front/base.html.twig" %}


{% block body %}
    <h1>Association index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Caisse</th>
                <th>Type</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td>{{ association.id }}</td>
                <td>{{ association.nom }}</td>
                <td>{{ association.adresse }}</td>
                <td>{{ association.caisse }}</td>
                <td>{{ association.type }}</td>
                <td>{{ association.statut }}</td>
                <td>
                    <a href="{{ path('app_association_show', {'id': association.id}) }}">show</a>
                    <a href="{{ path('app_association_edit', {'id': association.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_association_new') }}">Create new</a>
{% endblock %}
