{% extends "front/base.html.twig" %}


{% block body %}
    <h1>Association</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ association.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ association.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ association.adresse }}</td>
            </tr>
            <tr>
                <th>Caisse</th>
                <td>{{ association.caisse }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ association.type }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ association.statut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_association_index') }}">back to list</a>

    <a href="{{ path('app_association_edit', {'id': association.id}) }}">edit</a>

    {{ include('association/_delete_form.html.twig') }}
{% endblock %}
