{% extends 'back/base-auth.html.twig' %}
{% block title %}Login{% endblock %}

{% block body %}
    <h class="mb-2 text-2xl font-semibold">Bienvenue sur Baladity! 👋</h>
    <p class="mb-4">
        Veuillez vous connecter à votre compte pour commencer l'aventure
    </p>

    <form
            id="formAuthentication"
            class="mb-3"
            action="{{ path('app_login') }}"
            method="POST"
    >
        <!-- Assurez-vous que 'login_route' est le nom de votre route de connexion -->
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input
                    type="email"
                    value="{{ last_username }}"
                    name="email"
                    id="inputEmail"
                    class="form-control"
                    required
                    autofocus
            />
        </div>
        <div class="mb-3 form-password-toggle">
            <label class="form-label" for="inputPassword">Mot de passe</label>
            <div class="input-group input-group-merge">
                <input
                        type="password"
                        name="password"
                        id="inputPassword"
                        class="form-control"
                        required
                />
                <input
                        type="hidden"
                        name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                />
                <span class="input-group-text cursor-pointer"
                ><i class="bx bx-hide"></i
                    ></span>
            </div>
            <a href="{{ path('app_forgot_password_request') }}" class="form-text text-end">Mot de passe oublié ?</a>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary d-grid w-100" type="submit">
                Se connecter
            </button>
        </div>
    </form>

    <p class="text-center">
        <span>Nouveau sur notre plateforme ?</span>
        <a href="{{ path('citoyen_cin') }}">
            <span>Créer un compte</span>
        </a>
    </p>

{% endblock %}
