{{ form_start(form) }}
{{ form_widget(form._token) }}

<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="fw-bold">{{ button_label }} Tache Projet</h3>
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3 d-flex flex-column">
                <label class="form-label" for="basic-icon-default-fullname">Titre Projet</label>
                <div class="input-group input-group-merge">
                    <span id="basic-icon-default-fullname2" class="input-group-text">
                        <i class="bx bx-task"></i>
                    </span>
                    <input
                            type="text"
                            class="form-control"
                            id="basic-icon-default-fullname"
                            name="{{ field_name(form.titre) }}"
                            value="{{ field_value(form.titre) }}"
                            placeholder="{{ field_label(form.titre) }}"
                            aria-label="John Doe"
                            aria-describedby="basic-icon-default-fullname2"
                    />
                </div>
                <div class="text-danger mt-2">{{ form_errors(form.titre) }}</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="basic-icon-default-company">Description Tache</label>
                <div class="input-group input-group-merge flex-row">
                            <span id="basic-icon-default-company2" class="input-group-text">
                                <i class="bx bx-text align-self-start mt-1"></i>
                            </span>
                    <textarea
                            rows="5"
                            maxlength="255"
                            style="resize: none"
                            id="basic-icon-default-company"
                            class="form-control"
                            name="{{ field_name(form.description) }}"
                            placeholder="{{ field_label(form.description) }}"
                            aria-label="ACME Inc."
                            aria-describedby="basic-icon-default-company2"
                    >{{ field_value(form.description) }}</textarea>
                </div>
                <span id="description-char-count">0/255 caractères</span>
                <div class="text-danger mt-2">{{ form_errors(form.description) }}</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="html5-date-input">Deadline</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class="bx bx-calendar"></i></span>
                    <input class="form-control" type="datetime-local"
                           name="{{ field_name(form.date) }}"
                           value="{{ field_value(form.date) }}"
                           placeholder="{{ field_label(form.date) }}"
                           id="html5-date-input"
                    />
                </div>
                <div class="text-danger mt-2">{{ form_errors(form.date) }} </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="basic-icon-default-phone">User</label>
                <div class="input-group input-group-merge">
                    <span id="basic-icon-default-phone2" class="input-group-text">
                        <i class="bx bx-user"></i>
                    </span>
                    <select
                            class="form-select"
                            id="basic-icon-default-phone"
                            name="{{ field_name(form.user) }}"
                            aria-label="User Name"
                    >
                        <option value="" selected>Choisir un utilisateur</option>
                        {% for user in users %}
                            <option {{ field_value(form.user) == user.id ? 'selected' : '' }}
                                    value="{{ user.id }}">{{ user.citoyen.nom }} {{ user.citoyen.prenom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="text-danger mt-2">{{ form_errors(form.user) }}</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="basic-icon-default-phone">Projet</label>
                <div class="input-group input-group-merge">
                    <span id="basic-icon-default-phone2" class="input-group-text">
                        <i class="bx bxl-product-hunt"></i>
                    </span>
                    <select
                            class="form-select"
                            id="basic-icon-default-phone"
                            name="{{ field_name(form.projet) }}"
                            aria-label="Phone number input"
                    >
                        <option value="" selected>Choisir un projet</option>
                        {% for project in projects %}
                            <option {{ field_value(form.projet) == project.id ? 'selected' : '' }}
                                    value="{{ project.id }}">{{ project.titre }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="text-danger mt-2">{{ form_errors(form.projet) }}</div>
            </div>
            <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        const descriptionTextarea = $('#basic-icon-default-company');
        const charCountSpan = $('#description-char-count');

        descriptionTextarea.on('input', function () {
            const charCount = $(this).val().length;
            charCountSpan.text(`${charCount}/255 caractères`);
        });

        // Trigger the input event on page load to display the initial character count
        descriptionTextarea.trigger('input');
    });
</script>


{{ form_end(form) }}
