{% extends "back/base.html.twig" %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card">
                <h5 class="card-header">Tache Projet </h5>
                <div class="table-responsive text-nowrap">

                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ tache_projet.id }}</td>
                        </tr>
                        <tr>
                            <th>Titre</th>
                            <td>{{ tache_projet.titre }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ tache_projet.description }}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{ tache_projet.date ? tache_projet.date|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Statut</th>
                            <td>{{ tache_projet.statut }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <a href="{{ path('task_project_back_index') }}" class="btn btn-secondary">Retour</a>
                    <a href="{{ path('task_project_back_edit', {'id': tache_projet.id}) }}" class="btn btn-primary">Modifier</a>
                </div>

                <div class="container ">
                    <div class="row mt-5">
                        <div class="col-md-8">
                            <h2 class="mb-4">Add Comment</h2>

                            <textarea id="comment-content" class="form-control" name="content" rows="3" required
                                      style="resize: none"></textarea>

                            <button id="comment-submit" class="btn btn-primary mt-2">Submit</button>

                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-md-8">
                            <div class="comments">
                                <h2 class="mb-4">Comments</h2>
                                <!-- Single comment -->
                                <div id="comments-list">
                                    {% for comment in comments %}
                                        <div class="card mb-4" data-comment-id="{{ comment.id }}">
                                            <div class="card-body">
                                                <div class="d-inline-flex align-items-center justify-content-between "
                                                     style="width: 100%">
                                                    <div class="d-inline-flex justify-content-center align-items-center gap-3">
                                                        <img src="{{ asset('uploads/'~comment.user.image) }}"
                                                             alt="User Image"
                                                             style="width: 30px; height: auto; border-radius: 50%;">
                                                        <h5 class="card-title">{{ comment.user.citoyen.nom }} {{ comment.user.citoyen.prenom }}</h5>
                                                    </div>
                                                    <h6 class="card-subtitle mb-2 text-muted">{{ comment.date | date('F j, Y') }}
                                                        at {{ comment.date | date('g:i A') }} </h6></div>
                                                <div class="w-full inline-flex items-center justify-between">
                                                    <p class="card-text comment-contenu">{{ comment.content }}</p>
                                                    <div class="comment-edit-submit inline-flex items-center gap-2 hidden">
                                                        <input type="text" class="form-control "
                                                               style="width: 400px"
                                                               value="{{ comment.content }}">
                                                        <button class="btn btn-secondary">
                                                            modifier
                                                        </button>
                                                    </div>
                                                    {% if comment.user.id == app.user.id %}
                                                        <div>
                                                            <button class="edit-comment">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                     viewBox="0 0 24 24" stroke-width="1.5"
                                                                     stroke="orange" class="w-6 h-6">
                                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                                          d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
                                                                </svg>

                                                            </button>
                                                            <button class="delete-comment">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                     viewBox="0 0 24 24" stroke-width="1.5" stroke="red"
                                                                     class="w-6 h-6">
                                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- Add more comments here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#comments-list').on('click', '.edit-comment', function () {
                var commentCard = $(this).closest('.card');
                commentCard.find('.comment-edit-submit').toggleClass('hidden');
                commentCard.find('.comment-contenu').toggleClass('hidden');
            });

            $('#comments-list').on('click', '.delete-comment', function () {
                var commentCard = $(this).closest('.card');
                var commentID = commentCard.data('comment-id');

                console.log(commentID)
                // add loading spinner
                $(this).html(' <div class="spinner-border text-danger" role="status"> <span class="visually-hidden">Loading...</span> </div>');
                $.ajax({
                    url: `/dashboard/project-tasks/${commentID}/delete-comment`,
                    type: 'POST',
                    success: function (data) {
                        commentCard.remove();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            $('.comment-edit-submit button').click(function (e) {
                e.preventDefault();

                const commentCard = $(this).closest('.card');
                const commentContent = commentCard.find('.comment-contenu');
                const commentEdit = commentCard.find('.comment-edit-submit');

                const newContent = commentEdit.find('input').val();
                const commentID = commentCard.data('comment-id')

                $.ajax({
                    url: `/dashboard/project-tasks/${commentID}/edit-comment`,
                    type: 'POST',
                    data: {
                        content: newContent,
                        commentID: commentID
                    },
                    success: function (data) {
                        commentContent.text(newContent);
                        commentContent.toggleClass('hidden');
                        commentEdit.toggleClass('hidden');
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            $('#comment-submit').on('click', function (e) {
                console.log('submit')
                var commentContent = $('#comment-content').val();

                $.ajax({
                    url: "{{ path('task_project_back_comment', {id: tache_projet.id}) }}",
                    type: 'POST',
                    data: {
                        content: commentContent
                    },
                    success: function (data) {
                        // Add the new comment to the comments section
                        $('#comments-list').prepend(`
                            <div class="card mb-4" data-comment-id="${data.id}">
                            <div class="card-body">
                                <div class="d-inline-flex align-items-center justify-content-between "
                                     style="width: 100%">
                                    <div class="d-inline-flex justify-content-center align-items-center gap-3">
                                    <img src="{{ asset('uploads/' ~ app.user.image) }}" alt="User Image"  style="width: 30px; height: auto; border-radius: 50%;" />
                                        <h5 class="card-title">${data.user} </h5>
                                    </div>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        ${new Date(data.date).toLocaleString('en-US', {
                            year: 'numeric',
                            month: 'long',
                            day: 'numeric',
                            hour: 'numeric',
                            minute: 'numeric',
                            hour12: true
                        })}
                                    </h6>
                                </div>
                                <div class="w-full inline-flex items-center justify-between">
                                    <p class="card-text comment-contenu">${data.content}</p>
                                    <div class="comment-edit-submit inline-flex items-center gap-2 hidden">
                                        <input type="text" class="form-control "
                                               style="width: 400px"
                                               value="${data.content}">
                                        <button class="btn btn-secondary">
                                            modifier
                                        </button>
                                    </div>
                                        <div>
                                            <button class="edit-comment">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                     viewBox="0 0 24 24" stroke-width="1.5"
                                                     stroke="orange" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
                                                </svg>

                                            </button>
                                            <button class="delete-comment">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                     viewBox="0 0 24 24" stroke-width="1.5" stroke="red"
                                                     class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        `);

                        // Clear the textarea
                        $('#comment-content').val('');
                    }
                });
            });
        });
    </script>
{% endblock %}
