{% extends 'front/base.html.twig' %}

{% block title %}
  Liste des Associations
{% endblock %}

{% block body %}
  {% include 'front/Header.html.twig' %}

  <div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
        <h5 class="fw-bold text-primary text-uppercase text-2xl">Associations</h5>
        <h1 class="text-4xl">Liste des Associations</h1>
      </div>
      <div class="row g-5 card-container">
        {% for association in associations %}
          <div class="col-lg-4">
            <div class="blog-item bg-light rounded overflow-hidden">
              <div class="blog-img position-relative overflow-hidden">
<img class="img-fluid" src="{{ asset('front/img/blog-.jpg') }}";" />
                <span class="position-absolute top-0 start-0 {{ (association.statut|lower) == 'actif' ? 'bg-info' : 'bg-danger' }} text-white rounded-end mt-5 py-2 px-4" href="">{{ association.statut }}</span>
              </div>
              <div class="p-4">
                {# <div class="d-flex mb-3">
                      <small class="me-3"><i class="far fa-calendar-alt text-info me-2"></i>Debut : {{ project.dateDebut.format('d M Y') }}</small>
                      <small><i class="far fa-calendar-alt text-danger me-2"></i>Fin : {{ project.dateFin.format('d M Y') }}</small>
                    </div> #}
                <h4 class="mb-3">{{ association.nom }}</h4>
                <p>{{ association.adresse }}</p>

                {# <div class="progress mb-2" style="border-radius: 10px">
                      <div class="progress-bar" role="progressbar" style="width: {{ progress == 0 ? 10 : progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
                    </div> #}
                {# {% if project.id in participatedProjects %}
                      <a class="text-uppercase text-warning participation-link" data-project-id="{{ project.id }}" data-participated="true" href="#">Annuler la participation <i class="bi bi-arrow-right"></i></a>
                    {% else %}
                      <a class="text-uppercase text-primary participation-link" data-project-id="{{ project.id }}" data-participated="false" href="#">
                        Participer
                        <i class="bi bi-arrow-right"></i>
                      </a>
                    {% endif %} #}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
