<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


{{ form_start(form, {'attr': {'class': 'text-center'}}) }}
    <div class="form-group">
        {{ form_label(form.titre, null, {'attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'style': 'height: 100px;' }}) }} <!-- Ajustez la hauteur selon vos besoins -->
    </div>
    <div class="form-group">
        {{ form_label(form.description, null, {'attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'style': 'height: 150px;' }}) }} <!-- Ajustez la hauteur selon vos besoins -->
    </div>
    <div class="form-group">
        {{ form_label(form.date, null, {'attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.date, {'attr': {'class': 'form-control datepicker', 'placeholder': 'Select date'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.lieu, null, {'attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.nomContact, null, {'attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.nomContact, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.emailContact, null, {'attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.emailContact, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.statut, null, {'attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.statut, {'attr': {'class': 'form-select form-control-sm'}}) }} <!-- Réduire la taille du sélecteur de statut -->
    </div>
    <div class="form-group" style="margin-top: 20px;"> <!-- Déplacer légèrement le bouton Save vers le bas -->
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}

<!-- CSS personnalisé pour le sélecteur de date -->
<style>
    .ui-datepicker {
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        padding: .375rem .75rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .ui-datepicker:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    }

    .ui-datepicker::-webkit-input-placeholder {
        color: #6c757d;
        opacity: 1;
    }
</style>

<!-- Script pour activer le sélecteur de date -->
<script>
    $(document).ready(function() {
        $('.datepicker').datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true
        });
    });
</script>
