{% extends 'back/base.html.twig' %}
{% block body %}
    <div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="card-header d-flex flex-row justify-content-between align-items-center">
                <h5>Liste des evenements</h5>
                <a href="{{ path('association_back_new') }}" class="btn btn-success ">Create new</a>
            </div>

            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Caisse</th>
                        <th>Type</th>
                        <th>Statut</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for association in associations %}
                        <tr>
                            <td>{{ association.id }}</td>
                            <td>{{ association.nom }}</td>
                            <td>{{ association.adresse }}</td>
                            <td>{{ association.caisse }}</td>
                            <td>{{ association.type }}</td>
                            <td>{{ association.statut }}</td>
                            <td>
                                <a href="{{ path('association_back_show', {'id': association.id}) }}"
                                   class="btn btn-primary btn-sm">Show</a>
                                <a href="{{ path('association_back_edit', {'id': association.id}) }}"
                                   class="btn btn-secondary btn-sm">Edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}