{{ form_start(form) }}
{{ form_widget(form._token) }}
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}



<div style="display: none;">
{{ form_widget(form.type, {'value' : doc.type}) }}
{{ form_widget(form.statut, {'value' : "en attente"}) }}
{{ form_widget(form.dateTraitement, {'value' : "NA"}) }} {# needs to be replaced with current date  #}
{{ form_widget(form.date, {'value' : doc.dateEmission}) }}
{{ form_widget(form.document, {'value' : id_doc}) }}




</div>


<div class="container py-5">
    <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
        <h5 class="fw-bold text-primary text-uppercase">Demande d'un document</h5>
        <h1 class="mb-0">Veuillez remplir le champ ci-dessous afin de créer la demande</h1>
    </div>
    <div class="row g-5 mb-5">
        <div class="col-lg-4">
            <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                    <i class="fa fa-heart text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="mb-2">Type </h5>
                    <h4 class="text-primary mb-0">{{ doc.type }}</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                    <i class="fa fa-envelope-open text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="mb-2">Staut</h5>
                    <h4 class="text-primary mb-0">{{ doc.statut }}</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;">
                <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                    <i class="fa fa-check text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="mb-2">Date de publication</h5>
                    <h4 class="text-primary mb-0">Le {{ doc.dateEmission }}</h4>
                </div>
            </div>
        </div>
    </div>


    <div class="row g-5" >
        <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
            <form>
                <div class="row g-3">

                    <div class="col-12">
                        <textarea class="form-control border-0 bg-light px-4 py-3" rows="4"
                                  placeholder="Description"
                                  name="{{ field_name(form.description) }}"
                                  value="{{ field_value(form.description) }}"
                                  placeholder="{{ field_label(form.description) }}"
                        ></textarea>
                    </div>



                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">{{ button_label|default('Envoyer la demande') }}</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: slideInUp;">
            <a src="{{ asset('front/img/doc.png') }}"></a>
        </div>
    </div>
    {% if form_errors(form.description) %}
        <div class="mb-3" style="color: red">
            {{ form_errors(form.description) }}
        </div>
    {% endif %}

</div>

    </div>
</div>





{{ form_end(form) }}
