{% extends 'back/base.html.twig' %}

{% block title %}Détails de l'Association{% endblock %}

{% block body %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Détails de l'Association</h5>
                    <div>
                        <a href="{{ path('association_back_index') }}" class="btn btn-primary">Retour à la liste</a>
                        <a href="{{ path('association_back_edit', {'id': association.id}) }}" class="btn btn-primary">Modifier</a>
                        {{ include('back/associationback/_delete_form.html.twig', {'id': association.id}) }}
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ association.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ association.nom }}</td>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td>{{ association.adresse }}</td>
                            </tr>
                            <tr>
                                <th>Caisse</th>
                                <td>{{ association.caisse }}</td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>{{ association.type }}</td>
                            </tr>
                            <tr>
                                <th>Statut</th>
                                <td>{{ association.statut }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
