{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'onsubmit': 'return validateForm();'}}) }}

<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="fw-bold">Ajouter un Membre</h3>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label class="form-label" for="basic-icon-default-fullname">Nom</label>
            <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text">
                    <i class="bx bx-user"></i>
                </span>
                {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom Membre'} }) }}
            </div>
            <span id="nomError" class="text-danger"></span> <!-- Ajout de l'élément span pour afficher les erreurs -->
        </div>
        <div class="mb-3">
            <label class="form-label" for="basic-icon-default-company">Prénom</label>
            <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text">
                    <i class="bx bx-user"></i>
                </span>
                {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom Membre'} }) }}
            </div>
            <span id="prenomError" class="text-danger"></span> <!-- Ajout de l'élément span pour afficher les erreurs -->
        </div>
        <div class="mb-3">
            <label class="form-label" for="basic-icon-default-birthday">Age</label>
            <div class="input-group input-group-merge">
                <span id="basic-icon-default-birthday2" class="input-group-text">
                    <i class="bx bxs-cake"></i>
                </span>
                {{ form_widget(form.age, { 'attr': {'class': 'form-control', 'placeholder': 'Age'} }) }}
            </div>
            <span id="ageError" class="text-danger"></span> <!-- Ajout de l'élément span pour afficher les erreurs -->
        </div>
        <div class="mb-3">
            <label class="form-label" for="basic-icon-default-event">Projet</label>
            <div class="input-group input-group-merge">
                <span id="basic-icon-default-event2" class="input-group-text">
                    <i class="bx bx-calendar"></i>
                </span>
                {{ form_widget(form.event, { 'attr': {'class': 'form-control', 'placeholder': 'Projet Membre'} }) }}
            </div>
            <span id="eventError" class="text-danger"></span> <!-- Ajout de l'élément span pour afficher les erreurs -->
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>

{{ form_end(form) }}

<script>
    function validateForm() {
        var nom = document.getElementById("membre_nom").value;
        var prenom = document.getElementById("membre_prenom").value;
        var age = document.getElementById("membre_age").value;
        var event = document.getElementById("membre_event").value;

        var nomError = document.getElementById("nomError");
        var prenomError = document.getElementById("prenomError");
        var ageError = document.getElementById("ageError");
        var eventError = document.getElementById("eventError");

        nomError.textContent = ""; // Réinitialiser les messages d'erreur
        prenomError.textContent = "";
        ageError.textContent = "";
        eventError.textContent = "";


         if (nom.length < 3) {
        nomError.textContent = "Le nom doit avoir au moins 3 caractères.";
        return false;
        }

        if (nom == "" || !/^[a-zA-Z\s]*$/.test(nom)) {
            nomError.textContent = "Le nom ne peut contenir que des lettres.";
            return false;
        }

        if (prenom.length < 3) {
        prenomError.textContent = "Le prénom doit avoir au moins 3 caractères.";
        return false;
        }

        if (prenom == "" || !/^[a-zA-Z\s]*$/.test(prenom)) {
            prenomError.textContent = "Le prénom ne peut contenir que des lettres.";
            return false;
        }

        

        if (age == "" || isNaN(age) || age < 18) {
            ageError.textContent = "L'âge doit être un nombre supérieur ou égal à 18.";
            return false;
        }

        if (event == "") {
            eventError.textContent = "L'événement est obligatoire.";
            return false;
        }

        return true;
    }
</script>
