{% extends 'back/base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card">
                <div class="card-header d-flex flex-row justify-content-between align-items-center">
                    <h5>Liste des membres</h5>
                    <a href="{{ path('membre_back_new') }}" class="btn btn-success ">Create new</a>
                </div>

                <div class="table-responsive text-nowrap">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Age</th>
                                <th> evenement </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for membre in membres %}
                                <tr>
                                    <td>{{ membre.id }}</td>
                                    <td>{{ membre.nom }}</td>
                                    <td>{{ membre.prenom }}</td>
                                    <td>{{ membre.age }}</td>
                                    <td> {{membre.event.titre}}</td>
                                    <td>
                                        <a href="{{ path('membre_back_show', {'id': membre.id}) }}"
                                           class="btn btn-primary btn-sm">Show</a>
                                        <a href="{{ path('membre_back_edit', {'id': membre.id}) }}"
                                           class="btn btn-secondary btn-sm">Edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center">No records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
