{% extends "front/base.html.twig" %}

{% block body %}
    {% include "front/Header.html.twig" %}

    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Demander un document</h5>
                <h1 class="mb-0">Veuillez choisir un document de la liste ci-dessous pour demander une copie</h1>
            </div>

            <!-- Search Bar -->
            <div class="mb-5 wow slideInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: slideInUp;">
                <div class="input-group">
                    <input type="text" class="form-control p-3" id="searchInput" placeholder="Chercher un Document">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>

            <div class="row g-5" id="documentList">
                {% for document in documents %}
                    <!--Table column for docs -->
                    <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
                        <div class="team-item bg-light rounded overflow-hidden">
                            <div class="team-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{{ asset('front/img/doc.png') }}" alt="">
                                <div class="team-social">
                                    <a class="btn btn-lg btn-primary btn-lg-square rounded"  href="{{ path('app_demande_document_new' , {'id': document.id}) }}"><i class="bi bi-arrow-right fw-normal"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <h4><strong>{{ document.type }}</strong></h4>
                                <p class="text-uppercase m-0">
                                    Secteur
                                    <strong style="color: {{ document.statut|lower == 'publique' ? '#00DADF' : 'red' }}; margin-right: 1em;">{{ document.statut }}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        document.getElementById('searchInput').addEventListener('input', function () {
            var query = this.value.toLowerCase();
            var documentList = document.getElementById('documentList');
            var documents = documentList.getElementsByClassName('team-item');
            for (var i = 0; i < documents.length; i++) {
                var type = documents[i].getElementsByTagName('h4')[0].innerText.toLowerCase();
                if (type.includes(query)) {
                    documents[i].style.display = '';
                } else {
                    documents[i].style.display = 'none';
                }
            }
        });
    </script>



{% endblock %}
