{% extends "back/base.html.twig" %}

{% block body %}



    {#  <h1>DemandeDocument index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Date</th>
                <th>DateTraitement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande_document in demande_documents %}
            <tr>
                <td>{{ demande_document.id }}</td>
                <td>{{ demande_document.type }}</td>
                <td>{{ demande_document.description }}</td>
                <td>{{ demande_document.statut }}</td>
                <td>{{ demande_document.date }}</td>
                <td>{{ demande_document.dateTraitement }}</td>
                <td>
                    <a href="{{ path('app_demande_document_show', {'id': demande_document.id}) }}">show</a>
                    <a href="{{ path('app_demande_document_edit', {'id': demande_document.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    #}

<style>
    .max-width-column {
        max-width: 20px; /* Adjust the value as per your requirement */
        overflow: hidden;
    }

    .badge-wrapper {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

</style>




    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card">
                <h5 class="card-header">Demandes de documents
                    <a type="button"   class="btn btn-outline-warning" onclick="openSmallWindow()"  style="position: absolute;right: 20px;" >Verifier validité</a>

                </h5>



                <div class="table-responsive text-nowrap">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th >Description</th>
                            <th>Statut</th>
                            <th>Date Traitement</th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        {% for demande_document in demande_documents %}
                            <tr>
                                <td><strong>{{ demande_document.type }}</strong></td>


                                {#
                                <td class="max-width-column">
                                    <div class="badge-wrapper">
                                        <span >{{ demande_document.description }}</span>
                                    </div>
                                </td>
                                #}

                                <td class="max-width-column">
                                    <!-- Popover button -->
                                    <button type="button" class="btn btn-outline-info" data-bs-toggle="popover" data-bs-offset="0,14" data-bs-placement="right" data-bs-html="true" data-bs-content="{{ demande_document.description }}" title="Description">
                                         Details
                                    </button>
                                </td>

                                <td><strong class="{% if demande_document.statut == 'acceptée' %}badge bg-label-success{% elseif demande_document.statut == 'rejetée' %}badge bg-label-danger{% else %}badge bg-label-warning{% endif %}">{{ demande_document.statut }}</strong></td>

                                <td>{{ demande_document.dateTraitement }}</td>

                                <td class="text-center">
                                    {% if demande_document.statut == 'en attente' %}
                                        <a type="button" class="btn btn-outline-success" href="/dashboard/demande_document/demandes/Accept/{{ demande_document.id }}">Accepter</a>
                                        <a type="button" class="btn btn-outline-danger" href="/dashboard/demande_document/demandes/Reject/{{ demande_document.id }}">Rejeter</a>
                                    {% else %}
                                        <a type="button" class="btn btn-outline-warning" href="/dashboard/demande_document/demandes/Refactor/{{ demande_document.id }}">Refactoriser</a>
                                    {% endif %}
                                </td>





                                {#  <td>
                                    <div class="dropdown">
                                        <button
                                                type="button"
                                                class="btn p-0 dropdown-toggle hide-arrow"
                                                data-bs-toggle="dropdown"
                                        >
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item text-warning" href="/dashboard/document/edit/{{ document.id }}"
                                            ><i class="bx bx-edit-alt me-1"></i> Edit</a
                                            >
                                            <a data-document-id="{{ document.id }}" class="dropdown-item text-danger delete-document" href="javascript:void(0);" >
                                                <i class="bx bx-trash me-1"></i> Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

#}
                        {% endfor %}

                        </tbody>
                    </table>


                    <!-- Place to render the chart -->
                </div>
            </div>
        </div>

        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card">
                <h5 class="card-header">Statistiques sur les demandes par mois </h5>
        <div id="chart"></div>
            </div>
        </div>
    </div>

    </div>






    <!-- JavaScript code -->
    <script>
        var options = {
            series: [
                {
                    name: 'Jan',
                    data: generateData(4, { min: -0, max: 11 })
                },
                {
                    name: 'Feb',
                    data: generateData(4, { min: -0, max: 11 })
                },
                {
                    name: 'Mar',
                    data: generateData(4, { min: -0, max: 11 })
                },
                {
                    name: 'Avr',
                    data: generateData(4, { min: -0, max: 11 })
                },
                {
                    name: 'Mai',
                    data: generateData(4, { min: -0, max: 11 })
                },
                {
                    name: 'Jui',
                    data: generateData(4, { min: -0, max: 11 })
                },
                {
                    name: 'Juil',
                    data: generateData(4, { min: -0, max: 11 })
                },
                {
                    name: 'Aou',
                    data: generateData(4, { min: -0, max: 55 })
                },
                {
                    name: 'Sep',
                    data: generateData(4, { min: -0, max: 55 })
                },
                {
                    name: 'Oct',
                    data: generateData(4, { min: -0, max: 55 })
                },
                {
                    name: 'Nov',
                    data: generateData(4, { min: -0, max: 55 })
                },
                {
                    name: 'Dec',
                    data: generateData(4, { min: -0, max: 55 })
                },
                // Add data for other months similarly...
            ],
            chart: {
                height: 350,
                type: 'heatmap',
            },
            plotOptions: {
                heatmap: {
                    shadeIntensity: 0.5,
                    radius: 0,
                    useFillColorAsStroke: true,
                    colorScale: {
                        ranges: [
                            { from: 0, to: 2, name: 'Faible', color: '#00A100' },
                            { from: 2, to: 4, name: 'Moyen', color: '#128FD9' },
                            { from: 5, to:1000 , name: 'Intense', color: '#FFB200' },
                        ]
                    }
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                width: 1
            },
            title: {
                text: ' '
            },
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        // Function to generate random data
        function generateData(count, yrange) {
            var i = 0;
            var series = [];
            while (i < count) {
                var x = 'Semaine' + (i + 1).toString();
                var y = Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;
                series.push({ x: x, y: y });
                i++;
            }
            return series;
        }
    </script>













    <script>
        function openSmallWindow() {
            // Define the URL and size of the external window
            var url = 'http://127.0.0.1:5000';
            var width = 800;
            var height = 700;

            // Calculate the position of the window to center it on the screen
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;

            // Open the window with specified properties
            window.open(url, "_blank", "width=" + width + ",height=" + height + ",left=" + left + ",top=" + top);
        }

    </script>



    <script>
        // JavaScript initialization code
        document.addEventListener('DOMContentLoaded', function() {
            const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
            const popoverList = popoverTriggerList.map(function(popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl, {
                    html: true,
                    sanitize: false
                });
            });
        });
    </script>






{% endblock %}
