{% extends 'back/base.html.twig' %}
{% block body %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="card-header d-flex flex-row justify-content-between align-items-center">
                <div class="d-inline-flex">
                    <h5 class="card-title ">Liste des Associations</h5>
                    <input
                            type="text"
                            class="form-control"
                            id="search-association"
                            name="search"
                            placeholder="Rechercher..."
                            style="margin-left: 10px;"
                    >
                </div>
            </div>

            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Caisse</th>
                        <th>Type</th>
                        <th>actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for demande_association in demande_associations %}
                        <tr>
                            <td>{{ demande_association.id }}</td>
                            <td>{{ demande_association.nom }}</td>
                            <td>{{ demande_association.adresse }}</td>
                            <td>{{ demande_association.caisse }}</td>
                            <td>{{ demande_association.type }}</td>
                            <td class="d-flex ">
                                <a href="{{ path('demande_association_back_approve', {id: demande_association.id}) }}"
                                   style="margin-right: 10px;"
                                   class="btn btn-success btn-sm">
                                    <span class="bx bx-check"> </span>
                                </a>
                                <a href="{{ path('demande_association_back_show', {'id': demande_association.id}) }}"
                                   style="margin-right: 10px;" class="btn btn-secondary btn-sm">
                                    <span class="bx bx-show"> </span>
                                </a>
                                <a href="{{ path('demande_association_back_delete', {id: demande_association.id}) }}"
                                   class="btn btn-danger btn-sm">
                                    <span class="bx bx-trash"></span>
                                </a>


                            </td>


                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#search-association').on('keyup', function () {
                let value = $(this).val().toLowerCase();
                $('table tbody tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    {% endblock %}
