{% extends "front/base.html.twig" %}

{% block body %}
    <div class="container">
        <h1 class="mt-5"> Details Demande Association</h1>

        <table class="table mt-4">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>{{ demande_association.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Nom</th>
                    <td>{{ demande_association.nom }}</td>
                </tr>
                <tr>
                    <th scope="row">Adresse</th>
                    <td>{{ demande_association.adresse }}</td>
                </tr>
                <tr>
                    <th scope="row">Caisse</th>
                    <td>{{ demande_association.caisse }}</td>
                </tr>
                <tr>
                    <th scope="row">Type</th>
                    <td>{{ demande_association.type }}</td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-primary mt-3" href="{{ path('demande_association_back_index') }}">Back to List</a>

        {{ include('back/demande_association/_delete_form.html.twig') }}
    </div>
{% endblock %}
