 {% extends 'back/base.html.twig' %}
 {% block title %}Hello citoyen !{% endblock %}

 {% block body %}



 

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('back/js/search.js') }}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/qrcode-generator"></script>

<script>
  // JavaScript function to generate a mailto link QR code for each user
function generateQRCodeForUser(userId, email) {
    let qr = qrcode(0, 'L');
    qr.addData(`mailto:${email}`);
    qr.make();

    // Find the container for the QR code and set the data URL as the source for an image
    let qrCodeContainer = document.getElementById(`qr-code-${userId}`);
    qrCodeContainer.innerHTML = `<img src="${qr.createDataURL()}" alt="QR Code">`;
}

</script>


{% endblock %}




 <div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
 <div class="card">
    <h5 class="card-header">Table des citoyens</h5>
    <div class="table-responsive text-nowrap">
      <div id="table-container">

      <table class="table" >
        <thead>
          <tr>
            {# <th>Id</th> #}
            <th>Cin</th>
            <th>Nom</th>
            <th>Prenom</th>
            {# <th>Adresse</th> #}
            <th>Date Naissance</th>
            <th>Genre</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for citoyen in citoyens %}
          <tr>
              {# <td>{{ citoyen.id }}</td> #}
              <td>{{ citoyen.cin }}</td>
              <td>{{ citoyen.nom }}</td>
              <td>{{ citoyen.prenom }}</td>
              {# <td>{{ citoyen.adresse }}</td> #}
              <td>{{ citoyen.dateNaissance ? citoyen.dateNaissance|date('Y-m-d') : '' }}</td>
              <td>{{ citoyen.genre }}</td>
              <td>
                  <a href="{{ path('app_citoyen_show', {'id': citoyen.id}) }}" class="btn show-btn">show</a>
                  <a href="{{ path('app_citoyen_edit', {'id': citoyen.id}) }}" class="btn edit-btn">edit</a>
                  <!-- Implement delete functionality appropriately -->
              </td>
          </tr>
          {% else %}
          <tr>
              <td colspan="8">No records found</td>
          </tr>
          {% endfor %}
              
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="bx bx-edit-alt me-1"></i> Edit</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="bx bx-trash me-1"></i> Delete</a
                  >
                </div>
              </div>
            </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>













<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
<div class="card">
  <h5 class="card-header">Table des utilisateurs</h5>
  <div class="table-responsive text-nowrap">
    <div id="table-container">

    <table class="table" >
      <thead>
        <tr>
          {# <th>Id</th> #}
          <th>Email</th>
          <th>Role</th>
          {# <th>Password</th> #}
          <th>NumTel</th>
          {# <th>HeureDebut</th> #}
          {# <th>HeureFin</th> #}
          <th>Image</th>
          <th>actions</th>
          <th>Qr code</th>
      </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for user in users %}
        <tr>
          {# <td>{{ user.id }}</td> #}
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td> 
          {# <td>{{ user.password }}</td> #}
          <td>{{ user.numTel }}</td>
          {# <td>{{ user.heureDebut }}</td> #}
          {# <td>{{ user.heureFin }}</td> #}
         
          <td>
            {% if user.image %}
             <img src="{{ asset('uploads/' ~ user.image) }}" alt="Image de l'utilisateur" style="width: 100px; height: auto;"/>
             {% else %}
              Pas d'image disponible
              {% endif %}
        </td>          
        <td>
              <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
              <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
          </td>

          <td>
            <!-- Placeholder for QR Code -->
            <div id="qr-code-{{ user.id }}"></div>
            <script>
              // Generate QR Code after the element is defined
              generateQRCodeForUser('{{ user.id }}', "{{ user.email|e('js') }}");
            </script>
          </td>
        
        
      </tr>
        {% else %}
        <tr>
            <td colspan="8">No records found</td>
        </tr>
        {% endfor %}
            
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);"
                  ><i class="bx bx-edit-alt me-1"></i> Edit</a
                >
                <a class="dropdown-item" href="javascript:void(0);"
                  ><i class="bx bx-trash me-1"></i> Delete</a
                >
              </div>
            </div>
          </td>












          

          
        
      </tbody>
    </table>
  </div>
</div>
</div>
</div>

</div>

{% include 'back/citoyen/gender_stats.html.twig' %}

  {% endblock %}
  

