<!DOCTYPE html>

<title>Projet</title>

{% block body %}
    <h1>Projet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ projet.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ projet.description }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ projet.dateDebut ? projet.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ projet.dateFin ? projet.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ projet.statut }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ projet.budget }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_projet_index') }}">back to list</a>

    <a href="{{ path('app_projet_edit', {'id': projet.id}) }}">edit</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
