
<div class="container">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        
    
        <div class="form-group">
            {{ form_label(form.email, "Email") }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            {% if form_errors(form.email) is not empty %}
                <div class="alert alert-danger">
                    {{ form_errors(form.email) }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.password, "password") }}
            {{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
            {% if form_errors(form.password) is not empty %}
                <div class="alert alert-danger">
                    {{ form_errors(form.password) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form_label(form.numTel, "Numero") }}
            {{ form_widget(form.numTel, { 'attr': {'class': 'form-control'} }) }}
            {% if form_errors(form.numTel) is not empty %}
                <div class="alert alert-danger">
                    {{ form_errors(form.numTel) }}
                </div>
            {% endif %}
        </div>
    
        <div class="form-group">
            {{ form_label(form.image, "Image") }}
            {{ form_widget(form.image, { 'attr': {'class': 'form-control-file', 'accept': 'image/*'} }) }}
            {% if form_errors(form.image) is not empty %}
                <div class="alert alert-danger">
                    {{ form_errors(form.image) }}
                </div>

                
            {% endif %}
            <small class="form-text text-muted">Please upload a JPEG or PNG image.</small>
        </div>
        
    
    
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
    