{% extends '/back/base.html.twig' %} {% block body %}
<h1>User</h1>
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <h5 class="card-header">Citoyen</h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <tbody>
            <tr>
              <th>Id</th>
              <td>{{ user.id }}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <th>Role</th>
              <td>{{ user.role }}</td>
            </tr>
            <tr>
              <th>Password</th>
              <td>{{ user.password }}</td>
            </tr>
            <tr>
              <th>NumTel</th>
              <td>{{ user.numTel }}</td>
            </tr>
            <tr>
              <th>HeureDebut</th>
              <td>{{ user.heureDebut }}</td>
            </tr>
            <tr>
              <th>HeureFin</th>
              <td>{{ user.heureFin }}</td>
            </tr>
            <tr>
              <th>Image</th>
              <td>{{ user.image }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer">
        <a href="{{ path('app_citoyen_index') }}" class="btn btn-secondary"
          >back to list</a
        >

        <a
          href="{{ path('app_user_edit', { id: user.id }) }}"
          class="btn btn-primary"
          >edit</a
        >
      </div>

      {{ include("front/user/_delete_form.html.twig") }}
    </div>
  </div>
</div>
{% endblock %}
