{% extends 'back/base-auth.html.twig' %}

{% block title %}Citizen Information{% endblock %}

{% block body %}

    <h4 class="mb-2">Adventure starts here 🚀</h4>
    <p class="mb-4">Make your app management easy and fun!</p>

    <form id="formAuthentication" class="mb-3" action="{{ path('citoyen_cin_submit') }}"
          method="post" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Nom</label>
            <input
                    type="text"
                    class="form-control"
                    id="username"
                    name=""
                    value="{{ citoyen.nom }}"
                    placeholder="enter your CIN"
                    autofocus
                    readonly
            />
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Prenom</label>
            <input
                    type="text"
                    class="form-control"
                    id="username"
                    name=""
                    value="{{ citoyen.prenom }}"
                    placeholder="enter your CIN"
                    autofocus
                    readonly
            />
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Cin</label>
            <input
                    type="text"
                    class="form-control"
                    id="username"
                    name=""
                    value="{{ citoyen.cin }}"
                    placeholder="enter your CIN"
                    autofocus
                    readonly
            />
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Adresse</label>
            <input
                    type="text"
                    class="form-control"
                    id="username"
                    name=""
                    value="{{ citoyen.adresse }}"
                    placeholder="enter your CIN"
                    autofocus
                    readonly
            />
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Date de naissance</label>
            <input
                    type="text"
                    class="form-control"
                    id="username"
                    name=""
                    value="{{ citoyen.dateNaissance ? citoyen.dateNaissance|date('Y-m-d') : '' }}"
                    placeholder="enter your CIN"
                    autofocus
                    readonly
            />
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Genre</label>
            <input
                    type="text"
                    class="form-control"
                    id="username"
                    name=""
                    value="{{ citoyen.genre }}"
                    placeholder="enter your CIN"
                    autofocus
                    readonly
            />
        </div>
        <a href="{{ path('app_user_new') }}" class="btn btn-primary d-grid w-100" role="button">Confirm</a>
    </form>

    <p class="text-center">
        <span>Already have an account?</span>
        <a href="{{ path('app_login') }}">
            <span>Sign in instead</span>
        </a>
    </p>

{% endblock %}
